@{
    ViewData["Title"] = "Home Page";
}

@model Notes.ViewModels.Home.IndexViewModel

<br/>
<button id="refresh-users-btn" class="btn btn-primary">Refresh</button>
<button id="delete-users-btn" class="btn btn-danger">Delete</button>
<br/>

<div id="users">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="w-10" scope="col">#</th>
          <th class="w-70" scope="col">Name</th>
          <th class="w-10" scope="col">Age</th>
          <th class="w-10" scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
          @foreach (var user in Model.Users!)
          {
              <tr>
                  <th scope="row">@user.Id</th>
                  <td>@user.Name</td>
                  <td>@user.Age</td>
              <td><input type="checkbox"></td>
              </tr>
          }
      </tbody>
    </table>
</div>
