@{
    ViewData["Title"] = "Home Page";
}

@model Notes.ViewModels.Home.IndexViewModel

<br/>
<button id="refresh-users-btn" class="btn btn-primary">Refresh</button>
<button id="delete-users-btn" class="btn btn-danger">Delete</button>
<br/>

<div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="w-10" scope="col">#</th>
          <th class="w-70" scope="col">Name</th>
          <th class="w-10" scope="col">Age</th>
          <th class="w-10" scope="col">Delete</th>
        </tr>
      </thead>
      <tbody id="users">
          @foreach (var user in Model.Users!)
          {
              <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Age</td>
                <td><input type="checkbox" data-user-id="@user.Id"></td>
              </tr>
          }
      </tbody>
    </table>
</div>
