@model IEnumerable<PartyInvites.Models.GuestResponse>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Responses</title>
    </head>
    <body>
        <div>
            <h2>Here is the list of people attending the party</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PartyInvites.Models.GuestResponse guest in Model) {
                        <tr>
                            <td>@guest.Name</td>
                            <td>@guest.Email</td>
                            <td>@guest.Phone</td>
                        </tr>
                    }
                </tbody>
            </table>
    </body>
</html>
